<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.Persona1234ConnectionString"
            connectionString="Data Source=Persona1234.mssql.somee.com;Initial Catalog=Persona1234;Persist Security Info=True;User ID=DanieeelSanta_SQLLogin_1;Password=rpq4bhijqi"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>  
